body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: wheat;
}


.box {
	background-color: rgba(251, 245, 239, 0.8);
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 40px;
	/* flex-wrap: wrap; */
	max-width: 100%;
}

.sidebar {
	align-items: center;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 15px;
	background-color: rgba(232, 234, 230, 0.9);
	width: 23%;
	border: 1px slategray;
	border-radius: 30px;
  /* flex-wrap: wrap; */
}
.biodata {
	display: flex;
  flex-direction: column;
  align-items: center;
	flex-wrap: wrap;
	margin-top: 20px;
	font-family: "Merienda", cursive;
}
.biodata-detail {
  margin: auto;
}
.background-profile img {
	width: 80%;
	border-radius: 6px;
	box-shadow: 1px 1px 1px grey;
	margin: auto
}
.biodata img {
	margin-top: 2px;
	width: 170px;
	border-radius: 50px;
	/* margin-right: 20px; */
}

.name-job {
  margin: auto;
  padding: 0;
  text-align: center;
}

.biodata .name-job h2 {
	width: 70%;
	font-size: 15px;
	background-color: wheat;
	margin: 8px auto;
	border-radius: 6px;
	box-shadow: 1px 1px 1px grey;
}
.biodata .name-job h4 {
	background-color: #fbf6f0;
	border-radius: 10px;
	font-family:cursive ;
	border-bottom: 1px solid grey;
	/* border-radius: 6px; */
	margin: auto;
	box-shadow: 1px 1px 1px grey;
	font-size: 13px;
	margin-bottom: 20px;
	display: inline-block;
}
.address {
  padding: 0;
}
.address h4 {
	/* display: inline-block; */
	width: 50%;
	font-size: 17px;
	background-color: wheat;
	margin: 7px auto 20px auto;
	border-radius: 6px;
	box-shadow: 1px 1px 1px grey;
	text-align: center;
}
.biodata .address li {
	margin-top: 0px;
	margin-bottom: 10px;
	background-color: #fbf6f0;
	border-radius: 6px;
	box-shadow: 1px 1px 1px grey;
	font-size: 13px;
	display: flex;
}
.icon-address {
margin: 3px 3px 0px 0px;
}
.biodata button {
  margin: auto;
	padding: 5px;
	margin-top: 50px;
	margin-bottom: 25px;
	background-color: tomato;
	border-radius: 10px;
	font-size: 20px;
	font-family: "Merienda", cursive;
	box-shadow: 1px 1px 1px grey;
	transition: 0.3s;
	border: none;
}
.btn:hover {
	background-color: green;
	color: whitesmoke;
}
/* .background-profile {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    border: 1px slategray;
    border-radius: 50px;
    background-color: #fbf6f0;
    box-shadow: 1px 1px 1px grey;
} */

.project-experience {
	margin-top: 0px;
	text-align: center;
}
.project-experience h3 {
	font-weight: 600;
	font-size: 15px;
	display: inline-block;
	/* text-align: center; */
	/* margin: auto; */
	background-color: wheat;
	margin: 30px auto 10px auto;
	border-radius: 6px;
	box-shadow: 1px 1px 1px grey;
}
.project-experience .laflix {
	background-color: #fbf6f0;
	border-radius: 10px;
	font-family:cursive ;
	border-bottom: 1px solid grey;
	/* border-radius: 6px; */
	margin: 15px auto;
	box-shadow: 1px 1px 1px grey;
	font-size: 14px;
	margin-bottom: 20px;
	width: 30%;
	font-weight: 950;
}

.laflix-text-wrapper {
	background-color: #fbf6f0;
	border-radius: 25px;
	/* box-shadow: 1px 1px 1px grey; */
	/* display: inline-block; */
	/* display: inline; */
	font-size: 13.5px;
	/* display: flex;
	flex-direction: column; */
	text-align:justify;
	margin: 10px;
	padding: 5px;
}
.laflix-info{
display: inline;
/* padding: 20px; */
}
.laflix-info a {
	display: inline;
}
.main {
	width: 77%;
	display: flex;
	flex-wrap: wrap;
	border: 1px snow;
	border-radius: 5px;
}
.main .intro {
	margin-left: 10px;
	padding: 10px 10px;
}
.main .intro h2 {
	font-family:cursive ;
	background-color: wheat;
	/* background-color: rgba(251, 245, 239, 0.9); */
	width: auto;
	display: inline-block;
	border-radius: 5px;
	border-bottom: 1px solid grey;
	font-size: 20px;
	/* font-family: "Merienda", cursive; */
}
.main .intro p {
	display: inline-block;
	margin-left: 20px;
	font-size: 15px;
	text-align: justify;
	font-family: "Merienda", cursive;
	background-color: rgba(232, 234, 230, 0.8);
	border-radius: 10px;
}
.skill-container {
  /* display: flex;
  flex-wrap: wrap; */
  /* flex-direction: column; */
  /* align-items: center; */
  width: 100%;
  /* background-image: url("./img/indo.jpg"); */
  /* background-size: cover; */
  /* background-color: silver; */
  background-color: rgba(232, 234, 230, 0.5);
  border-radius: 20px;
  margin: 0px 20px;
}
.skill {
  margin: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
}
.skill h2 {
	font-family:cursive ;
	background-color: wheat;
	/* background-color: rgba(251, 245, 239, 0.9); */
	width: auto;
	display: inline-block;
	border-radius: 5px;
	border-bottom: 1px solid grey;
}
.skill p, span {
	margin: auto;
  font-family: "Merienda", cursive;
  width: 50%;
  text-align: center;
}
.skill-content {
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
} 
.content {
  text-align: center;
  margin: 25px;
  /* width: 25%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content span {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: auto
}
.icon-skill:hover {
	border-radius: 20px;
	box-shadow: 4px 4px 4px grey;
	transform: translateY(-6px);
	transition: 0.4s;
}
.icon-skill {
  color: tomato; opacity: 0.8;
  font-size: 100px;
  box-shadow: 2px 2px 2px grey;
  border-radius: 15px;
  margin-bottom: 5px;
  }
.down-part {
	display: flex;
	justify-content: center;
	background-color: rgba(251, 245, 239, 0.8);
}
.video-container {
	margin-bottom: 30px;
	width: 70%;
	border-radius: 150px 150px 10px 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content:right;
	align-items: center;
	text-align: right;
	background-color: rgba(232, 234, 230, 0.5);
}
.video-container h2, span p {
	display: inline-block;
	background-color: wheat;
	border-radius: 10px;
	font-family:cursive ;
	border-bottom: 1px solid grey;
}
.video {

background-color: wheat;
max-width:100% ;
text-align: right;
/* display: flex;
justify-content: right; */
border-radius: 50px;
}
.up-part {
width: auto;
}
.footer {
	text-align: center;
	background-color: wheat;
	height: fit-content;
}
@media (max-width: 1024px) {
  .box {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }
  .background-profile img {
    border-radius: 90px;
  }
  .sidebar {
    width: 70%;
    margin: auto;
    border-radius: 200px 200px 25px 25px;
  }
  .biodata button {
    border-radius: 25%;
  }
  .skill {
	  display: flex;
	  flex-wrap: wrap;
	  max-width: 100%;
  }
  .video {
	height: 400px;
	width: 500px;
  }
}